parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$event of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects object, string given\\.$#"
			count: 3
			path: src/Services/EventService.php

		-
			message: "#^Parameter \\#2 \\$eventName of method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) expects string\\|null, Shapecode\\\\Bundle\\\\TwigTemplateEventBundle\\\\Event\\\\TwigTemplateEvent given\\.$#"
			count: 3
			path: src/Services/EventService.php

